$color-soustitle-menu: #ff435b;
$color-link-hover: #ed2aff;
$color-background-side:#190913;

$color-nav: #22223c;


$color-button: purple;
$color-button-background: #085b51;

$color-loader: yellow;
$color-loader-two: orange;

$width-loader: 100px;
$height-loader: 100px;

$width-perso: 260px;
$height-perso: 306px;
