@import "variables";


#general {
    margin-left: -50%;
    margin-top: 10%;
    z-index: 2;
        position:fixed;
        z-index: 999;
        height: 2em;
        width: 2em;
        overflow: visible;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0; 
}

.loader {
    width: $width-loader;
    height: $height-loader;
    border: solid 5px;
    border-radius: 20%;
    animation: 10s ease infinite loader-animation;
}

@keyframes loader-animation {
    0% {
        transform: rotate(50deg);
        border: solid $color-loader;
    }
    50% {
        transform: rotate(-50deg);
        border: solid $color-loader-two;
    }
    100% {
        transform: rotate(50deg);
        border: solid $color-loader;
    }

}

.loader2 {
    width: $width-loader;
    height: $height-loader;
    border: solid 5px;
    border-radius: 20%;
    animation: 2s ease infinite loader2-animation;
}

@keyframes loader2-animation {
    0% {
        transform: rotate(-50deg);
        border: solid $color-loader;
    }
    50% {
        transform: rotate(50deg);
        border: solid $color-loader-two;
    }
    100% {
        transform: rotate(-50deg);
        border: solid $color-loader;
    }

}


*{margin:0; padding: 0;}

body {
    overflow-x: hidden;
    transition: 2s ease;  
    
    background-image: url('../Images/background4.jpg');
    background-position: center;

}

.nav-fixe {
    background-color: $color-nav;
    display: flex;
    align-items: center;
    height: 70px;
    position: absolute;
    width: 100%;
    /*
    margin-top: -140px;
*/
}


.lateralMenu {
    margin-top: 70px;
    height: 100vh; 
    width: 0;  
    left: 0;
    top: 0;
    z-index: 1;
    position: absolute;
    overflow-x: hidden;
    padding-top: 50px;
    background-color:$color-background-side;
    transition: 1s ease;
}

.lateralMenu .test {
    width: 85%;
  

}

.lateralMenu .closeBouton {
margin-top: 0;
    position: relative; 
 font-size: 40px;
 margin-left: 150px; 
 color:$color-button;
 border: none;
 text-decoration: none;
 background-color: transparent;
}



a {
    display: flex;
    padding: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    

}

.titremenu {
    background-color:$color-button-background;

}



.Navbouton {
    margin-left: 10px;
  }

 

  

#main {
    transition: 1s ease;
    z-index: 10;
    width: 100%;
    height: 800px;
}  


   #loader {
     opacity: 0;
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    animation: spin 2s linear infinite;
    margin-left: -50%;
    margin-top: 10%;
        position: fixed;
        z-index: 999;
        height: 4em;
        width: 4em;
        overflow: visible;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      
  }
  
 
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
 
    




#main h1 {
    text-align: center;
}

p {
    padding: 20px;
}

.sousmenu{
  
 display: none;   
 
}


 ul :hover  .sousmenu {
  display: block;
  

}

.sousmenu a:hover{
    background-color:$color-soustitle-menu;
}





