@import "variables";

.loader {
    width: $width-loader;
    height: $height-loader;
    border: solid 5px;
    border-radius: 20%;
    animation: 10s ease infinite loader-animation;
}

@keyframes loader-animation {
    0% {
        transform: rotate(50deg);
        border: solid $color-loader;
    }
    50% {
        transform: rotate(-50deg);
        border: solid $color-loader-two;
    }
    100% {
        transform: rotate(50deg);
        border: solid $color-loader;
    }

}

.loader2 {
    width: $width-loader;
    height: $height-loader;
    border: solid 5px;
    border-radius: 20%;
    animation: 2s ease infinite loader2-animation;
}

@keyframes loader2-animation {
    0% {
        transform: rotate(-50deg);
        border: solid $color-loader;
    }
    50% {
        transform: rotate(50deg);
        border: solid $color-loader-two;
    }
    100% {
        transform: rotate(-50deg);
        border: solid $color-loader;
    }

}


*{margin:0; padding: 0;}

body {
    overflow-x: hidden;
    transition: 2s ease;
}
.nav-fixe {
    background-color:#172808;
    display: flex;
    align-items: center;
    height: 130px;
    position: fixed;
    width: 100%;
    margin-top: -140px;
}


.lateralMenu {
    height: 100%;
    width: 0;
    top: 131px;
    left: 0;
    z-index: 1;
    position: fixed;
    overflow-x: hidden;
    padding-top: 50px;
    background-color: black;
    transition: 1s ease;
}

.lateralMenu .test {
    width: 85%;
  

}

.test ul {
    -moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}

a {
    display: flex;
    padding: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    

}

.titremenu {
    background-color: cadetblue;

}



.Navbouton {
    margin-left: 10px;
  }

#main {
    margin-top: 140px;
    transition: 1s ease;
    padding:0 10px 0 10px;
    
}

#main h1 {
    text-align: center;
}

p {
    padding: 20px;
}

.sousmenu{
  
 display: none;   
 
}


 ul :hover  .sousmenu {
  display: block;
  

}
li {
    transition-duration: 8s;
}
.sousmenu a:hover{
    background-color: chartreuse;
}

